node_modules/
.env
.env.local
.env.development
.env.production
*.log
.DS_Store
dist/
build/
.next/
out/
data/
.vscode/
notes.md
mobile/Community Parking Discovery App.zip
mobile/design_example/
mobile/Community Parking Discovery Appv2.zip
mobile/design_example_v2/